@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

@font-face {
    font-family: "SF-Bold";
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: "SF-Heavy";
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: "SF-Light";
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}

@font-face {
    font-family: "SF-Medium";
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}


/* ------------------------header--------------------- */
body{
    width: 100vw;
    height: 100vh;

}
.header{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 5%;
    padding-inline: var(--space-layout-padding-lr);
}

.header div {
    display:flex;
    align-items: center;
    gap: 2%;
}

.header div h2{
    font-family: "SF-Heavy";
    color: var(--color-1);
    font-size: 1.2rem;
}

.header div img{
    background: green ;
    width: 25%;
}

.header img {
    background: red;
    width: 5%;
}

/* -------------------css main------------------- */

.main{
    background: yellowgreen;
    margin-top: 5%;
    padding-inline: var(--space-layout-padding-lr) ;

}
.main h2{
    color: var(--color-1);
    font-family: "SF-Medium";
    display: flex;
    flex-direction: column;
}

.main .first__section{
    display: flex;
    flex-direction: row;
    background: var(--color-2);
    border-radius: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-layout-padding-lr);
    padding-block: 7%;
    position: relative;
    margin-top: 5%;
    overflow: hidden;
    padding-left: 150px;
}

.green__circle {
    position: absolute;
    background: rgb(216, 255, 216);
    width: 290.5px;
    height: 290.5px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    left: -150px;
}

.asd{
    position: absolute;
    left: 7px;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.main .first__section img:last-child{
    width: 10%;

}

.main .first__section div:nth-child(3){
    background: red;
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 5px;
}

.main .first__section div h3{
    font-family: "SF-Medium";
    color:var(--color-1);
}

.main .first__section div small{
    font-family: "SF-Light";
    color:var(--color-4);
}

.main .first__section div button{
    background:var(--color-3) ;
    border-style: none;
    border-radius: 25px;
    width: 75%;
    height: 25px;
    font-size: .7rem;
    color:var(--color-2);
    font-family: "SF-Medium";
}
