:root{
    --color-1:#33404F;
    --color-2:#FFFF;
    --color-3:#00DDA3;
    --color-4:#B5C5C3;
    --color-5:#E1FFEF;
    
    
    --color-6:#000829;
    --color-7: #8f51e0;
    --color-8:#43bfc7;
    --color-9: #69e9f5;
    --color-10:#645fce;
    --color-11: #40356f;
    --color-11-b: #8e7dda6c;
    --color-12:#C285FF;



    --space-layout-padding-lr:4%;
    --space-layout-padding-t:0%;

}