<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <title>Checkout</title>
</head>
<body>
    <div class="circle">
        <div class="circle__header"></div>
    </div>
    <header class="header">
        <div>
            <img src="../storage/img/logo_header.svg" alt="">
            <h2>INVETO</h2>
        </div>
            <img class="header__menu" src="../storage/img/menu_header.svg" alt="">
    </header>
</body>
</html>