<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <title>Checkout</title>
</head>
<body>

        <div class="circle__header">
            <!-- <img src="../storage/img/banner_background.svg" alt=""> -->
            <div class="circle__title">
                <h1>Total Balance</h1>
                <div>
                    <span>$</span>
                    <h2>214,417</h2>
                </div>
            </div>
        </div>
    
    <header class="header">
        <div>
            <img src="../storage/img/new__logo_header.svg" alt="">
            <h2>INVETO</h2>
        </div>
            <img class="header__menu" src="../storage/img/new__menu.svg" alt="">
    </header>

    <main class="main">
        <section class="button__section">
            <button>Assets</button>
            <button>Debt</button>
            <button>Income</button>
            <!-- <button>Income</button> -->
        </section>
        <div class="section__graph">
            <img class="grafic__section" src="../storage/img/table__index.svg" alt="">
        </div>
        <article class="weekend__days">
            <div>S</div>
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
        </article>
        <section class="add__green">
            <img src="../storage/img/x.svg">
            <div>
                <img src="../storage/img/card_checkout.svg">
            </div>
            <div class="add__text">
                <h4>Spending.</h4>
                <p>You forgot to add debt card number at payment #1323. Add it now.</p>
            </div>
        </section>

    </main>
    <footer class="footer">
        <ul class="ul__footer">
            <li>
                <img src="../storage/img/home_icon.svg" alt="">
            </li>
            <li>
                <a href="../views/chekcout.html">
                    <img src="../storage/img/checkout_select_insane.svg" alt="">
                </a>
            </li>
            
            <li>
                <a href="../views/detail.html">
                    <img src="../storage/img/widget_icon.svg" alt="">
                </a>
            </li>

            <li> 
                <a href="#">
                    <img src="../storage/img/bell_icon.svg" alt="">
                </a>
            </li>
            
            <li>
                <a href="../index.html">
                    <img src="../storage/img/icon_6.svg" alt="">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>