<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../storage/img/logo header detail.svg" alt="">
            <h2>INVETO</h2>
        </div>
            <img class="header__menu" src="../storage/img/menu__header_detail.svg" alt="">
    </header>

    <main class="main">
        <h2>Investing Tips</h2>
        <section class="first__section">
            <div class="green__circle">
            </div>
            <img  class="asd" src="../storage/img/chancho.svg" alt="">
            <div>
                <h3>What is an ETF?</h3>
                <small>By James B PHD</small>
                <button>LEARN MORE</button>
            </div>
            <img src="../storage/img/x.svg" alt="">
        </section>
        <h2 class="my__cards">My cards (4)</h2>
        <section class="second__section">
            <ul class="ul__cards">
                <li class="card">
                    
                    <img src="../storage/img/background___circles_card .svg" alt="">
                    
                    <div class="pin">
                        <img src="../storage/img/pin_card.svg" alt="">
                        <small>*** 6175</small>
                    </div>
                    <div class="value">
                        <div class="baseline">
                            <span>$</span>
                            <h3>47,417</h3>
                        </div>
                    </div>
                    <div>
                        <img src="../storage/img/circles__card.svg" alt="">
                    </div>
                </li>
                
                <li class="card">
                    
                    <img src="../storage/img/background___circles_card .svg" alt="">
                    
                    <div class="pin">
                        <img src="../storage/img/pin_card.svg" alt="">
                        <small>*** 6175</small>
                    </div>
                    <div class="value">
                        <div>
                            <span>$</span>
                            <h3>47,417</h3>
                        </div>
                    </div>
                    <div>
                        <img src="../storage/img/visa.svg" alt="">
                    </div>
                </li>
                
            </ul>
        </section>
    </main>
    <footer class="footer">
        <ul class="ul__footer">
            <li>
                <img src="../storage/img/home_icon.svg" alt="">
            </li>

            <li>
                <img src="../storage/img/book_icon.svg" alt="">
             </li>

            <li>
                <img src="../storage/img/widget_icon.svg" alt="">
            </li>

            <li>
                <img src="../storage/img/bell_icon.svg" alt="">
            </li>
            
            <li>
                <img src="../storage/img/account_icon.svg" alt="">
            </li>
        </ul>
    </footer>
</body>
</html>