<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../storage/img/logo header detail.svg" alt="">
            <h2>INVETO</h2>
        </div>
            <img class="header__menu" src="../storage/img/menu__header_detail.svg" alt="">
    </header>

    <main class="main">
        <h2>Investing Tips</h2>
        <section class="first__section">
            <div class="green__circle">
            </div>
            <img  class="asd" src="../storage/img/chancho.svg" alt="">
            <div>
                <h3>What is an ETF?</h3>
                <small>By James B PHD</small>
                <button>LEARN MORE</button>
            </div>
            <img src="../storage/img/x.svg" alt="">
        
        </section>
    </main>
</body>
</html>